

<div class="container">

  <h1 style="text-align: center; font-family: 'Neuton'; font-size: 70px; padding-top: 50px;">List of Performers</h1>
  <br>
  <br>
  <div class="cards">
    <% @performers.each do |performer| %>
      <%= link_to(performer_path(performer), class: "card-links") do %>
        <div class="card-performer">
        <img src= "<%= performer.image_url %>" />
          <div class="card-performer-infos">
            <div>
              <h2><%= "#{performer.first_name}" %></h2>
              <p><%= "#{performer.job_title}" %></p>
            </div>
            <h2 class="card-trip-pricing">£<%= "#{performer.hourly_rate} /hour" %></h2>
            <img src=" <%= performer.avatar_url %> " class="card-performer-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
