<div class="banner">
  <div class="text-container">
    <h1>Your performance awaits...</h1>
    <p>Choose from our wide range of performers to find the perfect fit for your event.</p>
  </div>
</div>
<div class="container">
  <br>
  <br>
  <div class="cards">
    <% @performers.each do |performer| %>
      <%= link_to(performer_path(performer), class: "card-links") do %>
        <div class="card-performer">
        <img src= "<%= performer.image_url %>" />
          <div class="card-performer-infos">
            <div>
              <h2><%= "#{performer.first_name}" %></h2>
              <p><%= "#{performer.job_title}" %></p>
            </div>
            <h2 class="card-trip-pricing">£<%= "#{performer.hourly_rate} /hour" %></h2>
            <img src=" <%= performer.avatar_url %> " class="card-performer-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
