

<div class="container">

  <h1 style="text-align: center; font-family: 'Neuton'; font-size: 70px; padding-top: 50px;">List of Performers</h1>
    <div class="form_home d-flex justify-content-center m-lg-5">
        <%= simple_form_for :search, url: performers_path, method: :get do |f| %>
          <%= f.input :job_title, collection: ["Fire Performer", "Actor", "Circus performer", "Singer", "All"], required: false %>
          <%= f.submit "Search", class:"btn btn-primary"  %>
        <% end %>
      </div>
      <br>
        <br>

  <div class="cards">
    <% @performers.each do |performer| %>
      <%= link_to(performer_path(performer), class: "card-links") do %>
        <div class="card-performer">
        <img src= "<%= performer.image_url %>" />
          <div class="card-performer-infos">
            <div>
              <h2><%= "#{performer.first_name}" %></h2>
              <p><%= "#{performer.job_title}" %></p>
            </div>
            <h2 class="card-trip-pricing">£<%= "#{performer.hourly_rate} /hour" %></h2>
            <img src=" <%= performer.avatar_url %> " class="card-performer-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
