<div class="performers-container">

  <div class="banner-performers justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @performer.image_url %>);">>

    <div class="performers-banner-contents">
      <h1><%= "#{@performer.first_name} #{@performer.last_name}" %></h1>
      <h2><%= @performer.job_title %></h2>
    </div>
  </div>

  <div class="container">
    <div class="row align-items-center performer-description">
      <div class="col-lg-4">
        <img src=" <%= @performer.avatar_url %> ", class="performer-image"/>
      </div>
      <div class="col-lg-8 performer-info-box">
        <p><%= @performer.description %> </p>
        <br>
        <p><strong>£<%= @performer.hourly_rate %> per hour</strong></p>
      </div>
    </div>
  </div>

  <br>

  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 style="text-align: center; font-family: 'Montserrat';">CV</h2>
        <table class="table table-hover cv-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Type of Job</th>
              <th scope="col">role</th>
              <th scope="col">event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Theatre Tour</td>
              <td>Actor</td>
              <td>Outdoor Festival</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Wedding Singer</td>
              <td>Singer</td>
              <td>Wedding</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Theatre</td>
              <td>Actor</td>
              <td>Christmas Pantomine</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>Theatre</td>
              <td>Actor</td>
              <td>Summer Show</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>OutDoor Theatre</td>
              <td>Actor</td>
              <td>Circus Show</td>
            </tr>
          </tbody>
        </table>
      </div>

    <div class="col-lg-4">
      <h2 style="text-align: center; font-family: 'Montserrat';">Book Now</h2>
       <%= simple_form_for [@performer, @booking], html: { class: 'form-class' }, remote: true do |f| %>
          <%= f.input :total_hours, input_html: { class: 'my-new-class' }, label_html: { class: 'label-class' }, wrapper_html: { class: 'wrapper-class' } %>
          <%= f.input :time, as: :time, html5: true %>
          <%= f.input :date, as: :date, html5: true, input_html: { value: Date.today } %>
          <div data-rate="<%= @performer.hourly_rate %>" class="price-target">
            Total Price: £0
          </div>
          <%= f.submit "Book", class: "submit-booking btn btn-dark", 'data-toggle' => 'modal', 'data-target' => '#exampleModal' %>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Congratulations!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                  </button>
                </div>
                <div class="modal-body" id="IDK">
                  <h2>Your booking is confirmed.</h2>
<!--                   <h3><%#= "On #{@booking.date} from #{@booking.time.hour}:#{@booking.time.min} to #{@booking.time.hour + @booking.total_hours}:#{@booking.time.min}" %></h3>
 -->                </div>
                <div class="modal-footer">
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <br>
     </div>
  </div>


    <% if @last_booking %>
      <h2 style="text-align: center; font-family: 'Montserrat';">Reviews</h2>
      <div class="review-container">
      <%= simple_form_for([ @last_booking, @review ], remote: true) do |f| %>
        <%= f.input :rating %>
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.submit "Add Review", class: "btn btn-dark" %>
      <% end %>
      </div>
    <% end %>


  <br>

  <div class="review-list-container">
    <% if @performer.reviews.any? %>

      <% @performer.reviews.each do |review| %>
        <div class="review">
          <h3><%= review.title %></h3>
          <% review.rating.to_i.times do  %>
            <i class="fas fa-star"></i>
          <% end %>
          <p><%= review.description %></p>
        </div>
      <% end %>
    <% elsif @last_booking %>
      <div class="review">
        Be the first to leave a review for <%= @performer.first_name %>
      </div>
    <% end %>
  </div>

  <p style="text-align: center;"><%= link_to "View More Performers", performers_path, class: "btn btn-dark" %></p>
</div>
