
<div class="background-picture">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="behind_the_test">
          <h2 style="text-align: center; padding-top: 15vh; font-family: 'Montserrat'; font-size: 35px; font-weight: bold; text-shadow: 2px 2px 2px rgba(0,0,0,0.5);">Welcome back!</h2>
          <br>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="container login_form">
              <div class="form-inputs" >
                <%= f.input :email,
                            required: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" } %>
                <%= f.input :password,
                            required: false,
                            input_html: { autocomplete: "current-password" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, "Log in", class: "btn-dark btn-block"%>
              </div>
            <% end %>
            </div>
          <br>
            <div class="devise-links">
              <p><%= render "devise/shared/links" %></p>
            </div>
        </div>
      </div>
    </div>
  </div>
  </div>

